{%- include('partials/header') -%}
<h1>admin category</h1>
<h6>total records: {%= data?.length %}</h6>

<div class="d-flex m-3 justify-content-evenly flex-wrap">










</div>

<div class="text-center">
    <a href="/admin" class="btn btn-primary">Go to AdminPanel</a>
</div>

<p>data: {%= data %}</p>

{%- include('partials/footer') -%}
